*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}
.main{
    display: flex;
    justify-content: center; /* horizontal align */
    align-items: center;
    height: 100%;
    min-height: 100vh;
}
.images{
    flex-basis: 0;
    flex-grow: 1;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 110% 60%;
    position: relative;
}
.test{
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test-box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: absolute; 
    top: 0; /* Pour positionner à 0px du parent */
}
.boite{
    margin-left: -95.5px;
    margin-top: 103px;

}
/* .images:after{
    content: url(images/illustration-box-desktop.svg);
    position: absolute;
    display: block;
    height: 100%;
} */
.container{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    max-width: 950px;
    background: white;
    border-radius: 2%;
    flex-grow: 1;
}
.pattern{
    position: absolute;
    margin-top: -15%;
    margin-left: -30%;
}
.woman{
    margin-left: -155px;
}
/* .box{
    margin: 15% 0% 0% -8%;
    position: absolute;
} */
/* Accordion part */
.accordion{
    background-color: white;
    color: hsl(237, 12%, 33%);
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 0;
}
.container-accordion{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.texte{
    flex-basis: 0;
    flex-grow: 1;
    height: 480px;
    padding-top: 65px;
    padding-bottom: 65px;
}
.arrow{
    float: right;
}
p{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}
.separator{
    color:white;
    width: 80%;
    float: left;
}
/* When we hover on the button */
.accordion:hover {
    color: hsl(14, 88%, 65%);
}
.panel{
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
      padding-left: 0;
      width: 80%;
}
.active .panel{
    display: block;
}
/* So the arrow turn when the accordeion is active */
.active .arrow{
    transform: rotate(180deg);
}
.active{
    font-weight: 700;

}
.active button{
    font-weight: 700;
}
/* 
Mettre une transition apparition panel 
Mettre le truc dérrière correctement
Faire en sorte que ce soit pas dégeulasse quand ça se déroule */

