*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}
.main{
    display: flex;
    justify-content: center; /* horizontal align */
    align-items: center;
    height: 100%;
    min-height: 100vh;
}
.images{
    flex-basis: 0;
    flex-grow: 1;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 110% 60%;
    position: relative;
}
.test{
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test-box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: absolute; 
    top: 0; /* Pour positionner à 0px du parent */
}
.boite{
    margin-left: -95.5px;
    margin-top: 103px;

}
/* .images:after{
    content: url(images/illustration-box-desktop.svg);
    position: absolute;
    display: block;
    height: 100%;
} */
.container{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    max-width: 950px;
    background: white;
    border-radius: 2%;
    flex-grow: 1;
}
.pattern{
    position: absolute;
    margin-top: -15%;
    margin-left: -30%;
}
.woman{
    margin-left: -155px;
}
/* .box{
    margin: 15% 0% 0% -8%;
    position: absolute;
} */
/* Accordion part */
.accordion{
    background-color: white;
    color: hsl(237, 12%, 33%);
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 0;
}
.container-accordion{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.texte{
    flex-basis: 0;
    flex-grow: 1;
    height: 480px;
    padding-top: 65px;
    padding-bottom: 65px;
}
.arrow{
    float: right;
}
p{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}
.separator{
    color:white;
    width: 80%;
    float: left;
}
/* When we hover on the button */
.accordion:hover {
    color: hsl(14, 88%, 65%);
}
.panel{
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
      padding-left: 0;
      width: 80%;
}
.active .panel{
    display: block;
}
/* So the arrow turn when the accordeion is active */
.active .arrow{
    transform: rotate(180deg);
}
.active button{
    font-weight: 700;
}

/* MEDIA QUERIES */

@media only screen and (max-width:1084px){
    .container{
        max-width: 700px;
    }

}
@media only screen and (max-width:807px){
    .container{
        display: block;
    }
    .images{
        background-size: 50%;
        background-position: 49% 106%;
        padding-bottom: 50px;
    }
    .woman{
        margin-left: 0px;
        margin-top: -157px;
        width: 50%;
    }
    .test{
        overflow:visible;
    }
    .boite{
        width: 40%;
        margin-left: 146px;
        margin-top: -146px;
    }
    .texte{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 45px;
    }
    .accordion{
        text-align: center;
        width: 100%;
        font-size: 22px;
    }
    .container-accordion{
        display: flex;
    }
    .panel{
        text-align: center;
        width: 100%;
        padding: 10px 0px;
    }
    .panel p{
        width: 80%;
        margin: auto;
        font-size: 16px;
    }
    .separator{
        width: 60%;
    }
    h1{
        font-size: 40px;
    }

}
@media only screen and (max-width:724px){
    .container{
        max-width: 500px;
    }
    .woman{
        margin-top: -112px;

    }
    .boite{
        width: 30%;
        margin-left: 71px;
        margin-top: -107px;
    }
    .panel p{
        font-size: 12px;

    }
    .accordion{
        font-size: 18px;
    }
}

@media only screen and (max-width:545px){
    .container{
        max-width: 450px;
        
    }
    .woman{
        margin-top: -97px;

    }
    .boite{
        margin-left: 58px;
        margin-top: -99px;

    }
}
@media only screen and (max-width:480px){
    .container{
        max-width: 350px;
        
    }
    .woman{
        width: 70%;
        margin-top: -108px;

    }
    .boite{
        margin-left: 1px;
        margin-top: -106px;

    }
    .accordion{
        font-size: 14px;
    }
    .images{
        background-size: 74%;
        background-position: 39% 114%;
    }
    .main{
        padding-top: 120px;
    }
    .texte{
        height: auto;
    }
}

